
<nav class="navbar navbar-light justify-content-between">
    <ul class="nav list-inline col-4 mx-auto">
        <li class="nav-item list-inline-item ">
          <a class="nav-link" [routerLink]="['bar-chart']" routerLinkActive="active">History</a>
        </li>
        <li class="nav-item list-inline-item">
          <a class="nav-link" [routerLink]="['doughnut-chart']" routerLinkActive="active">Portfolio</a>
        </li>
        <li class="nav-item list-inline-item">
          <a class="nav-link" [routerLink]="['radar-chart']" routerLinkActive="active">General</a>
        </li>
        <li class="nav-item list-inline-item">
          <a class="nav-link" [routerLink]="['pie-chart']" routerLinkActive="active">Pie Chart</a>
        </li>
      </ul>
    
</nav>
<div class="card noborder">
    <router-outlet></router-outlet>
  </div>
 