
<nav class="navbar navbar-light justify-content-between">
    <ul class="nav list-inline col-4 mx-auto">
        <li class="nav-item list-inline-item ">
          <a class="nav-link" [routerLink]="['bar-chart']" routerLinkActive="active">History</a>
        </li>
         <li class="nav-item list-inline-item">
          <a class="nav-link" [routerLink]="['portfolio']" routerLinkActive="active">Portfolio</a>
        </li>
        <li class="nav-item list-inline-item">
          <a class="nav-link" [routerLink]="['prices']" routerLinkActive="active">Prices</a>
        </li>        
      </ul>
    
</nav>
<div class="card noborder">
    <router-outlet></router-outlet>
  </div>
 